* {
    margin: 0;
    padding: 0;
}


.wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10%;
    
    width: 40%;
    height: 50%;
    background-color: aquamarine;
    overflow: hidden;
}

.images_wrapper {
    width: 90%;
    margin: auto;
    overflow: hidden;
}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons {
    display: flex;
    
}

.btn_hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2vw;
    height: 2vw;
    opacity: 1;
    margin-right: 0.3vw;
    cursor: pointer;
    background-color: #fff;
    border-radius: 1vw;
    
}

span {
    width: 1vw;
    height: 1vw;
    background-color: blue;
    border-radius: 0.5vw;
    opacity: 0.5;
    
}

.btn_hover:hover > span {
    opacity: 1;
}

.images {
    display: flex;
    margin: auto;
    margin: 5% 0 5% 0;
    width: 300%;
    height: 35vh;
    
    
}

.image {
    width: 33.33%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
}

input {
    visibility: hidden;
}

#radio1[type=radio]:checked ~ .img_main {
    margin-left:0;
}
#radio2[type=radio]:checked ~ .img_main {
    margin-left:-33.33%;
}
#radio3[type=radio]:checked ~ .img_main {
    margin-left:-66.66%;
}