* {
    margin: 0;
    padding: 0;
}


.wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10%;
    width: 50%;
    height: 50%;
    background-color: aquamarine;
}

.images {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons {
    display: flex;
    
}

.btn_hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2vw;
    height: 2vw;
    opacity: 1;
    margin-right: 0.3vw;
    cursor: pointer;
    background-color: #fff;
    border-radius: 1vw;

}

span {
    width: 1vw;
    height: 1vw;
    background-color: blue;
    border-radius: 0.5vw;
    opacity: 0.5;
      
}

.btn_hover:hover > span {
    opacity: 1;
}
