* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10%;
    width: 60vw;
    
    aspect-ratio: 16 / 9;
        background-color:darkgray;
    overflow: hidden;
}

.images_wrapper {
    margin: auto;
    margin: 5% 3% 0% 3%;
    width: 94%;
    overflow: hidden;
}


.footer {
    display: flex;
    flex-direction: row;
    margin: 2% 8% 5% 0%;
    justify-content: space-between;
    align-items: center;
    
    
}

.buttons {
    display: flex;
    
}

.btn_hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2vw;
    height: 2vw;
    opacity: 1;
    margin-right: 0.1vw;
    cursor: pointer;
    border-radius: 1vw;
    
}

span {
    width: 1vw;
    height: 1vw;
    background-color: blue;
    border-radius: 0.5vw;
    opacity: 0.3;
    
}

.btn_hover:hover > span {
    opacity: 1;
}

.images {
    display: flex;
    width: 400%;
    height: 100%;    
    transition: 0.6s ;
}

.image {
    width: 25%;
 }

img {
    width: 100%;
    height: 100%;
}

input {
    display: none;;
}


#radio1[type=radio]:checked ~.wrapper .images_wrapper .images
 {
    transform: translate(0%);
}
#radio2[type=radio]:checked  ~.wrapper .images_wrapper .images
   {
    transform: translateX(-25%);

}
#radio3[type=radio]:checked ~.wrapper .images_wrapper .images
  {
    transform: translateX(-50%);
}
#radio4[type=radio]:checked ~.wrapper .images_wrapper .images
 {
    transform: translateX(-75%);
}

.text_wrapper {
    width: 92%;
    margin: 0 30% 0 8%;
    overflow: hidden;
}
.texts {
    display: flex;
    width: 400%;
    transition: 0.4s;
}

.text {
    font-size: 1.3rem;
    width: 25%;

}

#radio1[type=radio]:checked ~ .wrapper .footer .text_wrapper .texts {
    transform: translate(0%);
}
#radio2[type=radio]:checked ~.wrapper .footer .text_wrapper .texts {
    transform: translate(-25%);
}
#radio3[type=radio]:checked ~.wrapper .footer .text_wrapper .texts {
    transform: translate(-50%);
}
#radio4[type=radio]:checked ~.wrapper .footer .text_wrapper .texts {
    transform: translate(-75%);
}



#radio1[type=radio]:checked ~.wrapper  .btn1 .btn {
    background-color:blue;
    opacity: 1;

}

#radio2[type=radio]:checked ~.wrapper  .btn2 .btn   {
    background-color: blue;
    opacity: 1;

}

#radio3[type=radio]:checked ~.wrapper  .btn3 .btn  {
    background-color: blue;
    opacity: 1;


}

#radio4[type=radio]:checked ~.wrapper  .btn4 .btn {
    background-color: blue;
    opacity: 1;

}

@media (max-width:800px) {
    .wrapper {
        height: 40vw;
    }


    .footer {
        flex-direction: column-reverse;
    }

    .text_wrapper {
        margin: 1% 0% 5% 10%;
    }

    .text {
        font-size: 1rem;
    }
}